/* GAME OVER MODAL */
.modal {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  z-index: 2;
}

.game-over {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  max-width: 400px;
  width: 70%;
  max-height: 300px;
  height: 70%;
  padding: 20px;
  background-color: white;
  border-radius: 16px;
  border: 8px solid rgb(53, 53, 53);
}

.game-over p {
  font-size: 26px;
}

.play {
  padding: 12px 24px;
  border-radius: 20px;
  background-color: rgb(194, 80, 80);
  border: 1px solid transparent;
  cursor: pointer;
  color: white;
  font-size: 16px;
  transition: all 0.2s ease-out;
}

.play:hover {
  transform: scale(1.05, 1.05);
  background-color: rgb(170, 44, 44);
}